.App {
  display: grid;
  grid-template-rows: minmax(3rem, 1fr) 11fr;
  height: 100vh;
  text-align: center;
  background-color: #fafafa;
  color: #262626;
}

.container {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  padding: 0;
}

.container--top {
  justify-content: start;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Headings and Text */
h1,
h2,
h3 {
  margin: 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.text--small {
  font-size: 0.75rem;
}

.text__tip {
  padding: 0.5rem;
  font-style: italic;
}

p {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-list {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
}

.logo__text {
  /* height: 2.25rem; */
  width: 6rem;
}

.logo__image {
  height: 80px;
  width: 80px;
  margin: 0.5rem 0;
}

/* Forms */
.form {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
}

.form--narrow {
  width: 350px;
}

.form--wide {
  width: 50vw;
  min-width: 350px;
  max-width: 600px;
}

.form--border {
  background-color: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.form__content {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.form__inner {
  display: flex;
  /* align-items: flex-start; */
  width: 100%;
  height: auto;
}

.form-group--wide {
  width: 90%;
}

.form-group--inline {
  display: flex;
  flex-direction: column;
}

.form-group--no-msg {
  margin: 0;
}

.input--error {
  border: 1px solid #eb0000;
}

input:invalid {
  box-shadow: none;
}

.error {
  font-size: 0.75rem;
  color: #eb0000;
}

.error__wrapper {
  height: 1rem;
}

/* Buttons */
.button--ml {
  margin: 0 auto auto 0.25rem;
}

.button--mt {
  margin-top: 0.5rem;
}

.button--text {
  border: none;
  background-color: transparent;
  transition: color 0.5s ease-out;
  font-weight: 600;
}

.button--text:hover {
  color: #5a5a5a;
}

.button--text:focus {
  outline: none;
}

/* High specificity required to modify Bootstrap button style */
/* Remove outline from Bootstrap button */
.button--no-outline:focus,
.button--no-outline:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

/* .button--text:not(:disabled):not(.disabled):active {
  color: black;
  background-color: transparent;
}

.button--text:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
} */

/* Media Queries */
@media all and (max-width: 1160px) {
  .form-input,
  .form-button {
    font-size: 0.8rem;
  }

  /* Headings */
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media all and (max-width: 850px) {
  .form__content {
    min-width: 350px;
  }

  .form-control,
  .form-input,
  .btn {
    font-size: 0.8rem;
  }

  /* Headings */
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  /* Text */
  .text--small {
    font-size: 0.5rem;
  }
}

.input_container--outer {
  display: flex;
  flex-direction: row;
}
.input_container {
  display: flex;
  position: relative;
  /* padding: 0.5rem; */
  margin: 0;
  align-items: center;
  background-color: transparent;
}
.input_container--grey {
  background-color: #e9ecef;
}
/* .input_container--transparent {
  background-color: transparent;
} */
.input_input {
  /* height:20px; */
  margin: 0;
  /* padding-left:30px; */
}
.input_img {
  /* position:absolute; */
  /* bottom:8px;
  left:10px;
  width:10px;
  height:10px; */
  /* margin-left: 0.75rem; */
}
.form-control--clear {
  height: 100%;
  padding: 0 0 0 0;
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* line-height: 1.5; */
  /* color: #495057; */
  background-color: transparent;
  /* background-clip: padding-box; */
  border: none;
  /* border-radius: 0; */
  transition: none;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.pr--75 {
  margin: 0 0.75rem 0 0;
}

.button--undo {
  cursor: pointer;
}